<nav>
    <div class="navbar">
    <b>Home</b>
    <a href="book-create" class="btn btn-primary">Create Book</a>
    <a href="" class="btn btn-danger">logout</a>
    </div>
</nav>

<div class="card" style="width: 18rem;" *ngFor="let book of books">
  <div class="card-body">
    <h3 class="card-title">{{book.title}}</h3>
    <h4 class="card-data">{{book.author}}</h4>
    <h4 class="card-data">{{book.publicationYear}}</h4>
    <h4 class="card-data">{{book.publisher}}</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a class="btn btn-primary" (click)="onUpdate(book.bookId)">Update</a>
    <button class="btn btn-danger" (click)="onDelete(book.bookId)">Delete</button>
  </div>

  </div>